.circle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: turquoise;
    animation: move-the-circle 1s infinite;
    transform-origin: center center;
  }
  
  .circle:nth-child(1) {
    left: 0REM;
    animation-delay: 0s;
  }
  
  .circle:nth-child(2) {
    left: 1.5REM;
    animation-delay: 0.1s;
  }
  
  .circle:nth-child(3) {
    left: 3REM;
    animation-delay: 0.2s;
  }
  
  .circle:nth-child(4) {
    left: 4.5REM;
    animation-delay: 0.3s;
  }
  
  .circle:nth-child(5) {
      left: 54.5REM;
      animation-delay: 0.4s;
    }
    
    .circle:nth-child(6) {
        left: 53REM;
        animation-delay: 0.5s;
    }
    
    .circle:nth-child(7) {
        left: 51.5REM;
        animation-delay: 0.6s;
    }
    
    .circle:nth-child(8) {
      left: 50rem;
    animation-delay: 0.7s;
  }
  
  @keyframes move-the-circle {
    0% {
      transform: translate(0, 0) scale(1);
      opacity: 1;
      background-color: turquoise;
    }
    50% {
      transform: translate(0, 50px) scale(0.4);
      opacity: 0.5;
      background-color: blue;
    }
    100% {
      transform: translate(0, 0) scale(1);
      opacity: 1;
      background-color: turquoise;
    }
  }
  